<div class="pad">
  <h2>Select an Event</h2>
  <div class="card flex justify-content-center">
    @for (event of (allEvents$ | async); track event.id) {
    <p-card
      [header]="event.name"
      [ngStyle]="{ margin: '0.5rem' }"
      (click)="router.navigate(['events/' + event.id])"
    >
      <div class="grid">
        <p>Date</p>
        <p class="bold">{{ event.event_date | date : "medium" }}</p>
        <p>Location</p>
        <p class="bold">{{ event.location }}</p>
        <p>Sections</p>
        <p class="bold">{{ event.section_count }}</p>
        <p>Laps</p>
        <p class="bold">{{ event.lap_count }}</p>
      </div>
    </p-card>
    }
  </div>
</div>
