<div class="pad">
  <h2>Select an Event</h2>
  <div class="card flex justify-content-center">
    @for (event of (allEvents$ | async); track event.id) {
    <p-card
      [header]="event.name"
      [ngStyle]="{ margin: '0.5rem' }"
      (click)="eventHasPassword(event.id)"
    >
      <div class="grid">
        <p>Date</p>
        <p class="bold">{{ event.event_date | date : "medium" }}</p>
        <p>Location</p>
        <p class="bold">{{ event.location }}</p>
        <p>Sections</p>
        <p class="bold">{{ event.section_count }}</p>
        <p>Laps</p>
        <p class="bold">{{ event.lap_count }}</p>
      </div>
    </p-card>
    }
  </div>
</div>

<p-dialog
  header="Password Required"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '25rem' }"
>
  <div>
    <label for="password"> Enter Password</label>
    <input
      #pwInput
      [(ngModel)]="inputValue"
      id="password"
      pInputText
      autocomplete="off"
      type="password"
    />
    <div class="error">
      <small
        [style]="{
          color: (error$ | async) ? 'var(--red-500)' : 'transparent'
        }"
      >
        Password is incorrect
      </small>
    </div>
  </div>

  <div class="w-100 row space-between">
    <p-button label="Cancel" severity="secondary" (onClick)="hideDialog()" />
    <p-button
      label="Verify"
      (onClick)="verifyPassword()"
      [disabled]="!(inputValue() && !(error$ | async))"
    />
  </div>
</p-dialog>
