p-selectButton {
  margin-bottom: 1rem;
}

.lap {
  display: inline-block;
  background-color: var(--surface-100);
  padding: 0.2rem 0.75rem;
  text-align: center;
  border-radius: 4px;
  margin-left: 0.5rem;
}

.done-laps {
  color: var(--green-500);
}

.card {
  input {
    margin: 0.5rem 0 1rem 0;
  }
}

.error {
  color: var(--red-500);
  margin-bottom: 2rem;
}

h4 {
  color: var(--green-500);
}

.identifier {
  margin-top: 4rem;
}

#rider {
  color: var(--blue-500);
}
