<div class="pad">
  <h2>Rider Observations</h2>
  @if ((riders$ | async); as riders) {

  <p-dropdown
    class="center"
    [options]="riders"
    [(ngModel)]="selectedRider"
    optionLabel="rider_number"
    placeholder="Select a Rider"
  >
    <ng-template pTemplate="selectedItem">
      @if (selectedRider(); as selRider) {
      <div>
        Rider:
        {{
          selRider.rider_number +
            " " +
            selRider.rider_name +
            " (" +
            selRider.class +
            ")"
        }}
      </div>
      }
    </ng-template>
    <ng-template let-rider pTemplate="item">
      <div class="flex align-items-center gap-2">
        <div>
          {{
            rider.rider_number +
              " " +
              rider.rider_name +
              " (" +
              rider.class +
              ")"
          }}
        </div>
      </div>
    </ng-template>
  </p-dropdown>

  } @if(selectedRider();as selRider) {

  <h3>Recorded Lap Times</h3>

  @if((previousScores$ | async); as prevScores) {
  <p-table
    [value]="prevScores"
    [tableStyle]="{
      'min-width': 'calc(100vw - 2rem)',
    }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Lap Number</th>
        <th>Score</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-score>
      <tr>
        <td>{{ score.lap_number }}</td>
        <td>{{ score.score }}</td>
      </tr>
    </ng-template>
  </p-table>
  @if ((totalLaps$ | async); as totalLaps) {

  <!-- <h4>Total Laps: {{ totalLaps }}</h4> -->
  @if (totalLaps > prevScores.length) { @if ((previousScores$ | async); as
  prevScores) {
  <h3>
    Record New Score For Lap
    <div class="lap">
      {{ prevScores.length + 1 }}
    </div>
  </h3>
  <!-- <h4>Lap Number: {{ prevScores.length + 1 }}</h4> -->

  <p-selectButton
    class="center"
    [options]="scoreOptions"
    [(ngModel)]="selectedScore"
    [disabled]="submitPending()"
  ></p-selectButton>

  <p-button
    class="center"
    label="Submit Score"
    [disabled]="selectedScore() === undefined || submitPending()"
    (click)="submitScore()"
  ></p-button>
  }} @else {
  <h3 class="center done-laps">All {{ totalLaps }} Laps Recorded</h3>
  }}}}
</div>

<p-toast position="bottom-center"></p-toast>
