p-button {
  margin-top: 1rem;
}

form {
  margin-top: 1rem;
}

.float-label {
  margin: 1rem 0;
}

.numbers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  justify-content: center;

  h4 {
    margin-bottom: 0;
  }
}

.pad {
  margin-bottom: 2rem;
}

.card {
  background-color: var(--surface-a);
}
