@import "primeng/resources/themes/lara-dark-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
}

.pad {
  box-sizing: border-box;
  padding: 0 1rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}
